{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "promise"
  ]
}
